@{
    Layout = "_Layout.cshtml";
}

@*@section Menu{
    @RenderSection("Menu", false)
}*@

<p>Htis is a text from nested layout</p>
<div style="background-color:coral;margin:30px;padding:10px;">
    @RenderBody()
</div>